
<div class="mt-4">
	<h4 class="text-danger">{{burger_name}}</h4>

	<!--Devour me button-->
	<button class="change-devour btn btn-warning" data-id="{{id}}" data-newdevour="{{devour}}">
		<img src="/assets/images/cheeseburger.jpg" width=25px height=25px" class="mr-2"> Devour me!
	</button>
</div>